setuptools==69.5.1
spaces
einops
soundfile
numpy<2
matplotlib
Pillow
alias-free-torch
dill
einops-exts
huggingface-hub==0.36.2
nnAudio
safetensors
scipy
soxr
torchsde
tqdm
tokenizers==0.22.0
transformers==4.57.6
v-diffusion-pytorch
gradio==5.49.1
auraloss
descript-audio-codec
ema-pytorch
encodec
laion-clap
local-attention
prefigure
webdataset
importlib-resources
k-diffusion
pandas
pytorch_lightning
PyWavelets
sentencepiece
torchmetrics
vector-quantize-pytorch
wandb