setuptools==69.5.1
spaces
einops
soundfile
numpy<2
matplotlib
Pillow
alias-free-torch
dill
einops-exts
huggingface_hub
nnAudio
safetensors
scipy
soxr
torchsde
tqdm
transformers
v-diffusion-pytorch
gradio==5.49.1
auraloss
descript-audio-codec
ema-pytorch
encodec
laion-clap
local-attention
prefigure
webdataset
importlib-resources
k-diffusion
pandas
pytorch_lightning
PyWavelets
sentencepiece
torchmetrics
vector-quantize-pytorch
wandb